@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@import "$lib/css/forms.css";
@import "$lib/css/loader.css";
@import "$lib/css/layout.css";

html {
    @apply fill-neutral-50;
}

:root {
    --navbar-height: 3.5rem;
}

.page {
    @apply flex flex-col w-full h-full min-h-0;
}

@theme {
    --breakpoint-xs: 25.75rem
}

button {
    @apply hover:cursor-pointer;
}

h1 {
    @apply text-2xl;
}

.gutter-stable-both {
    scrollbar-gutter: stable both-edges;
}