@import "tailwindcss";

@import "$lib/css/forms.css";
@import "$lib/css/loader.css";
@import "$lib/css/buttons.css";

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));
@plugin 'tailwind-scrollbar';


html {
    @apply fill-neutral-950 dark:fill-neutral-50 stroke-neutral-950 dark:stroke-neutral-50;
}

:root {
    --bg-dark: #111111;
    --bg-dark-layout: #141414;

    --bg-light: #fafafa;
    --bg-light-layout: #e5e5e5;
}

@theme {
    --spacing-without-sidebar: calc(100% - var(--spacing-sidebar));
    --spacing-without-sidebar-desktop: calc(100% - var(--spacing-sidebar-desktop));
    --spacing-without-navbar: calc(100% - var(--spacing-navbar));

    --spacing-sidebar: 17rem;
    --spacing-sidebar-desktop: 14rem;

    --spacing-navbar: 3.5rem;

    --color-neutral-850: #202020;
    --color-neutral-250: #dddddd;

    --spacing-details-sidebar: 20rem;
}


/* 
    Background Colors
*/
.bg-main {
    @apply bg-(--bg-light) dark:bg-(--bg-dark);
}

.bg-layout {
    @apply bg-(--bg-light-layout) dark:bg-(--bg-dark-layout);
}

.custom-scrollbar {
    @apply scrollbar-thin scrollbar-track-transparent scrollbar-thumb-neutral-300 scrollbar-hover:scrollbar-thumb-neutral-400  dark:scrollbar-thumb-neutral-700 scrollbar-hover:dark:scrollbar-thumb-neutral-600;
}


/* 
    Text Colors
*/
.text-main {
    @apply text-neutral-950 dark:text-neutral-50 text-neutral-300;
}


/* 
    Layouts
*/
.page {
    @apply flex w-full h-full min-h-0;
}

@theme {
    --breakpoint-xs: 25.75rem
}

button {
    @apply cursor-pointer disabled:cursor-auto;
}

h1 {
    @apply text-2xl;
}

@utility gutter-stable-both {
    scrollbar-gutter: stable both-edges;
}

@utility all-inherit {
    all: inherit;
    margin: 0px;
    padding: 0px    
}


.center {
    @apply size-full flex flex-col items-center justify-center;
}