<script lang="ts">
    import { pageTitle } from "$lib/code/util/codeUtil.svelte";
    import { onMount } from "svelte";

    const title = ""

    onMount(() => {

    })

</script>


<svelte:head>
    <title>{pageTitle(title)}</title>
</svelte:head>


<div class="page">

</div>


<style>
    @import "/src/app.css" reference;

</style>